package ui;

import "github.com/cafrias/offers-market/models"

templ Home(offers []models.Offer) {
	@layout() {
		<h1 class="text-gray-400">Offers</h1>
		<ul>
			for _, offer := range offers {
				<li>{ offer.Name }</li>
			}
		</ul>
	}
}
