package ui;

import "github.com/cafrias/offers-market/models"

templ Home(offers []models.Offer) {
	@layout() {
		<main class="container mx-auto">
			<h1 class="text-3xl text-gray-400">Offers</h1>
			<ul>
				for _, offer := range offers {
					<li>{ offer.Name }</li>
				}
			</ul>
		</main>
	}
}
